/* Posicionamiento -->
1. static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
 */

 :root{
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  
 }

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

html{
  font-size: 62.5%;
  font-family: 'DM sans', sans-serif;

 }

.header{
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header img{
  width: 151px;
  height: 24px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.header__tittleContainer{
  text-align: center;
  margin: 0 24px;
  color: var(--just-white);
}

.header h1{
  font-size: 2.4rem;
  margin-bottom: 24px;
}

.header p{
  font-size: 1.4rem;
  margin-bottom: 24px;
}
.header__floatButton{
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  position: absolute;
  display: block;
  padding: 15px;
  top: 260px;
  left: calc(50% - 115px);
  font-size: 1.4rem;
  line-height: 18px;
  margin-top: 35px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header__floatButton span{
  display: inline-block;
  margin-left: 10px;
  width: 13px;
  height: 8px;
  background-image: url("../asset/iconos/down-arrow.svg");
}

.main__currencies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: var(--off-white);
  padding-top: 80px;
  padding-bottom: 30px;
  
}
.main__currencies img{
  display: block;
  width: 195px;
  height: 195px;
  margin-bottom: 24px;
}
.main__currencies__textContainer{
  width: 90%;
  min-width: 288px;
  max-width: 900px;

}
.main__currencies__textContainer h2{
  margin-bottom: 30px;
  line-height: 2.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}

.main__currencies__textContainer p{
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  line-height: 18px;
  color:#757575;
}
.main__currencies__date{
  padding: 8px 5px;
  width: 200px;
  height: 31px;
  font-family: "inter", sans-serif;
  font-size: 1.2rem;
  background-color: var(--soft-orange);
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-self: center;
  
  
}
.main__currencies__tables{
  padding-top: 50px;
  margin-bottom: 15px;
  height: auto;
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.main__currencies__tables__currencies{
  font-size: 1.8rem;
  line-height: 2.3rem;
  width: 81px;
  height: 23px;
  font-weight: bold;
  color: var(--bitcoin-orange);
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: "DM Sans", sans-serif;
}

.main__currencies__tables table{
  width: 100%;
  height: 100%;
  color: var(--grey);
}

.main__currencies__tableContainer{
  width: 90%;
  height: 250px;
  min-width: 230px;
  max-width: 300px;
  margin: 0 auto;
}
.main__currencies__tableContainer td{
  width: 50%;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-left: 10px;
  font-weight: 500;
  background-color: var(--just-white);
}
.table__cripto-topLeft{
  border-radius: 15px 0 0 0;
}

.table__cripto-topRight{
  border-radius: 0 15px 0 0;
}
.table__cripto-bottomLeft{
  border-radius: 0 0 0 15px;
}
.table__cripto-bottomRight{
  border-radius: 0 0 15px 0;
}
.table__cripto-right{
  font-weight: normal;
  line-height: 1.4rem;
  font-size: 1.rem;
  color: #757575;
}
.main__currencies__tableContainer .down{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background-image: url("/asset/iconos/trending-down.svg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.main__currencies__tableContainer .up{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background-image: url("/asset/iconos/trending-up.svg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.main__currencies__table-comissions{
  display: block;
  margin-top: 50px;
  display: none;
}

.main__currencies__table-comissions .table__comissions-tittle{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--secondary-blue);
  padding-left: 10px;
}

.main__benefits{
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 30px;
  height: auto;
  position: relative;
  background-color: var(--black);
}

.main__benefits__batataIcon{
  position: absolute;
  background-image: url('/asset/imagenes/batatachips.svg');
  width: 50px;
  height: 30px;
  background-repeat: none;
  background-size: cover;
  display: block;
  top: -15px;
  right: calc(50% - 25px);

}


}
.main__benefits-slogan{
  min-width: 288px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black);
}
.main__benefits-slogan h2{
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--just-white);
}
.main__benefits-slogan p{
  margin-top: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #808080;
  text-align: center;
  margin-bottom: 30px;
}

.main__benefits-advantages{
  width: 288px;
  height: 152px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: var(--warm-black);
  border-radius: 4px;
}

.main__benefits-advantages h3{
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--just-white);
  margin: 10px;

}
.main__benefits-advantages p{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
  margin-left: 10px;
}
.main_benefits-advantages-icon1{
  width: 30px;
  height: 30px;
  background-image: url('/asset/iconos/clock1.svg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.main_benefits-advantages-icon2{
  width: 30px;
  height: 30px;
  background-image: url('/asset/iconos/eye.svg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}
.main_benefits-advantages-icon3{
  width: 30px;
  height: 30px;
  background-image: url('/asset/iconos/dollar-sign\ 1.svg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.main_benefits-advantages-icon4{
  width: 30px;
  height: 30px;
  background-image: url('/asset/iconos/check-circle.svg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.main__hero{
  min-width: 320px;
  width: 100vw;
  height: auto;
  max-height: 400px;
}

.main__hero-tittle{
  min-width: 288px;
  width: 100%;
  height: 26px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  font-weight: 700;
  color: var(--just-white);
  position: absolute;
  z-index: 1;
  margin-top: 65px;


}
.main__hero__img{
  width: 100%;
  height: 50vh;
  background-image: url('/asset/imagenes/bitcoinbaby1.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
}

.main__planes{
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-color: #e5e5e5;

}

.main__planes-description{
  min-width: 288px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}

.main__planes-description h2{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 24px;
}

.main__planes-description p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-left: 15px;
  margin-right: 15px;
  color: #757575;
}

.main__planes__description-cards{
  position: relative;
  min-width: 190px;
  width: 190px;
  min-height: 247px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  text-align: center;
  background-color: var(--just-white);
}
.planes__cards-option{
  position: absolute;
  display: block;
  left: calc(50% - 50px);
  top: -15px;
  width: 100px;
  min-width: 100px;
  height: 31px;
  border-radius: 8px;
  background-color: var(--bitcoin-orange);
  font-size: 1.2rem;
  line-height: 15px;  
  color: var(--just-white);
  text-align: center;
  padding: 8px;
}

.planes__cards-body{
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.planes__cards-body h3{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
}
.planes__price{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  margin-bottom: 10px;
  position: relative;
}

.planes__dollar-icon{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  position: absolute;
  left: 50px;
  top: 13px;
}
.planes__cards-guidance{
  width: 160px;
  height: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #757575;
  margin: 0 auto;
  font-family: 'inter', sans-serif;
}